// src/stylesheets/components/_register.scss
@use '../abstracts/variables' as *;
@use 'sass:color';

.Register--input {
    padding: 40px 20px;
    background-color: #f5f5f5;
    text-align: center;

    .Register {
        max-width: 600px;
        margin: 0 auto;

        &__title {
            font-size: 2rem;
            color: gray;
            margin-bottom: 10px;
        }

        &__description {
            font-size: 1.2rem;
            color: #666666;
            margin-bottom: 30px;
        }

        &__form {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: gray;

            & .register__label {
                width: 100%;
                margin-bottom: 15px;
                text-align: left;
            }

            & .register__input {
                width: 100%;
                padding: 10px;
                border: 1px solid #ccc;
                border-radius: 4px;

                &:focus {
                    border-color: gray;
                    outline: none;
                }
            }

            &__button {
                background-color: gray;
                color: #ffffff;
                border: none;
                padding: 10px 20px;
                border-radius: 4px;
                cursor: pointer;
                transition: background-color 0.3s;

                &:hover {
                    background-color: gray;
                }
            }
        }
    }
}