// src/stylesheets/main.scss

@use './abstracts/variables' as *;
@use 'sass:color';

@use './components/stunning-results';
@use './components/testimonial';
@use './components/recent-products';
@use './components/register';
@use './components/comments';
@use './components/plans';
@use './components/contact';

body {
    font-family: $font-family;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

.container {
    padding: 20px;
}