<!-- src/components/comments.html -->

<!-- Start Comments -->
<div class="comments">
    <h2 class="comments__title">What People Say</h2>
    <div class="comments__slider">
        <div class="comments__card comments__card--yellow">
            <p class="comments__quote">"It is not because things are difficult that we do not dare; it is because we do
                not dare that they are difficult."</p>
            <div class="comments__author">
                <p class="comments__author-name">Seneca the Younger</p>
                <p class="comments__author-role">Editor in okodesign.net</p>
                <div class="comments__author-image">
                    <img src="../assets/img/person (1).png" alt="Seneca the Younger">
                </div>
            </div>
        </div>
        <div class="comments__card comments__card--gray">
            <p class="comments__quote">"Attending a trade show can be a very effective method of promoting your company
                and its products."</p>
            <div class="comments__author">
                <p class="comments__author-name">Rachel Moreno</p>
                <p class="comments__author-role">Lead Designer in okodesign.net</p>
                <div class="comments__author-image">
                    <img src="../assets/img/person (2).png" alt="Rachel Moreno">
                </div>
            </div>
        </div>
    </div>
    <div class="comments__pagination">
        <span class="comments__pagination-dot"></span>
        <span class="comments__pagination-dot"></span>
        <span class="comments__pagination-dot"></span>
    </div>
</div>
<!-- End Comments -->