<!-- src/components/plans.html -->

<!-- Start Plans -->
<div class="plans">
    <h2 class="plans__title">Subscribing Plans</h2>
    <div class="plans__list">
        <div class="plans__card--freemium">
            <img src="../assets/img/card-header.png" alt="Freemium Plan" class="plans__image">
            <h3 class="plans__name">FREEMIUM</h3>
            <p class="plans__price">$0</p>
            <p class="plans__details">Basic Collections<br>10 Messages<br>50 Images per Day</p>
            <button class="plans__button">Get Started</button>
        </div>

        <div class="plans__card--startup">
            <img src="../assets/img/card-header (1).png" alt="Start Up Plan" class="plans__image">
            <h3 class="plans__name">START UP</h3>
            <p class="plans__price">$9</p>
            <p class="plans__details">Multiple Collections<br>100 Messages<br>100 Images per Day</p>
            <button class="plans__button">Get Started</button>
        </div>

        <div class="plans__card--business">
            <img src="../assets/img/card-header (2).png" alt="Business Plan" class="plans__image">
            <h3 class="plans__name">BUSINESS</h3>
            <p class="plans__price">$29</p>
            <p class="plans__details">Unlimited Collections<br>500 Messages<br>300 Images per Day<br>Project Reviews</p>
            <button class="plans__button--highlighted">Get Started</button>
        </div>

        <div class="plans__card--enterprise">
            <img src="../assets/img/card-header (3).png" alt="Enterprise Plan" class="plans__image">
            <h3 class="plans__name">ENTERPRISE</h3>
            <p class="plans__price">$49</p>
            <p class="plans__details">Unlimited Collections<br>Unlimited Messages<br>Unlimited Images per Day<br>Project
                Reviews</p>
            <button class="plans__button">Get Started</button>
        </div>
    </div>
</div>
<!-- End Plans -->