<!-- src/components/register.html -->

<!-- Start Register -->
<div class="register--input">
    <section class="register">
        <h1 class="register__title">Start Selling Instantly</h1>
        <p class="register__description">Start Selling With Your Pre-paid account. No deposit needed.</p>

        <form class="register__form">
            <label class="register__label" for="email">Email</label>
            <input class="register__input" type="email" id="email" placeholder="Email">
            <button class="register__button" type="submit">REGISTER</button>
        </form>
    </section>
</div>
<!-- End Register -->