<!-- src/components/testimonial.html -->

<!-- Start Testimonial -->
<div class="testimonial">
    <h2 class="testimonial__heading">What Clients are saying</h2>
    <div class="testimonial__content">
        <img src="../assets/icon/circle-arrow-left.svg" alt="Previous"
            class="testimonial__arrow testimonial__arrow--left">
        <p class="testimonial__text">
            Businesses at present had creatively generated effective advertising campaigns in the form of audio visual
            media that includes the television and radios and the print media that cover the newspaper and campaign
            materials like the posters, brochures, business cards, flyers and many more.
        </p>
        <img src="../assets/icon/circle-arrow-right.svg" alt="Next"
            class="testimonial__arrow testimonial__arrow--right">
    </div>
    <div class="testimonial__user">
        <img src="../assets/img/person.png" alt="User photo" class="testimonial__user-img">
        <div class="testimonial__user-info">
            <p class="testimonial__user-name">Ophelia Holland</p>
            <p class="testimonial__user-handle">@ophelia_holland</p>
        </div>
    </div>
</div>
<!-- End Testimonial -->