<!-- Footer Section -->
<footer class="footer">
    <!-- Main Footer Content -->
    <div class="footer-section">
        <!-- Company Column -->
        <div class="footer-section__column">
            <h4>Company</h4>
            <ul>
                <li><a href="#">News</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Testimonials</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Press Kit</a></li>
                <li><a href="#">Get in Touch</a></li>
            </ul>
        </div>
        <!-- Products Column -->
        <div class="footer-section__column">
            <h4>Products</h4>
            <ul>
                <li><a href="#">UI Kits</a></li>
                <li><a href="#">Icons</a></li>
                <li><a href="#">WordPress Themes</a></li>
                <li><a href="#">Mock-Ups</a></li>
            </ul>
        </div>
        <!-- Support Column -->
        <div class="footer-section__column">
            <h4>Support</h4>
            <ul>
                <li><a href="#">Community</a></li>
                <li><a href="#">Forum</a></li>
                <li><a href="#">Distributors</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms of Use</a></li>
            </ul>
        </div>
        <!-- Customers Column -->
        <div class="footer-section__column">
            <h4>Customers</h4>
            <ul>
                <li><a href="#">Documentation</a></li>
                <li><a href="#">Tools</a></li>
                <li><a href="#">Downloads</a></li>
                <li><a href="#">Developer Center</a></li>
            </ul>
        </div>
    </div>
    <!-- Footer Bottom Section -->
    <div class="footer-bottom">
        <p>© 2016 Hofmann UI Kit</p>
        <p>Created by GoldenFox - okodesign.net</p>

        <!-- Social Media Icons as List -->
        <ul class="social-icons">
            <li><a href="#"><img src="../assets/icon/linkedin.svg" alt="LinkedIn" /></a></li>
            <li><a href="#"><img src="../assets/icon/google.svg" alt="Google+" /></a></li>
            <li><a href="#"><img src="../assets/icon/twitter.svg" alt="Twitter" /></a></li>
            <li><a href="#"><img src="../assets/icon/google.svg" alt="Facebook" /></a></li>
            <li><a href="#"><img src="../assets/icon/instagram.svg" alt="Instagram" /></a></li>
        </ul>
    </div>
</footer>