<!-- Header section starts here -->
<header class="header_container">
    <!--Start header nav-->
    <div class="header-nav-top">
        <!-- Logo -->
        <div class="header-nav__logo">
            <figure class="header-nav__logo-item">
                <img src="../assets/img/HOFMANN.png" alt="logo">
            </figure>
        </div>

        <!-- Navigation Menu -->
        <nav class="header--nav_container">
            <ul class="navbar--top">
                <li class="nav__item"><a href="#" class="nav__link">Prices</a></li>
                <li class="nav__item"><a href="#" class="nav__link">Booking</a></li>
                <li class="nav__item"><a href="#" class="nav__link">Blog</a></li>
                <li class="nav__item"><a href="#" class="nav__link">Services</a></li>
            </ul>
        </nav>

        <!-- Actions: Search Image and Language Select Image -->
        <div class="header-nav__actions">
            <!-- Search Button as Image -->
            <img src="../assets/icon/search.svg" alt="Search" class="search-btn-img" />

            <!-- Language Select as Image -->
            <img src="../assets/img/lang-field.png" alt="US Flag" class="language-icon" />
        </div>
    </div>
</header>