<div class="main-container">

    <!-- Start Main 1 -->

    <!-- Stunning Results -->
    <div class="main-container">
        <div class="main-container__title">
            <h2 class="main-container__heading">Stunning Results</h2>
            <p class="main-container__subtitle">Just look to the statistics we have generated the past year.</p>
        </div>
        <div class="main-container__statistics">
            <div class="statistic-card">
                <div class="statistic-card__circle">
                    <img src="../assets/img/circle(3).png" alt="Circle 1" class="statistic-card__circle-img">
                    <span class="statistic-card__percentage">74,98</span>
                </div>
                <h3 class="statistic-card__title">Total Conversion</h3>
                <p class="statistic-card__description">The past few years have seen a dramatic change in the public
                    perception of cosmetic surgery.</p>
            </div>

            <div class="statistic-card">
                <div class="statistic-card__circle">
                    <img src="../assets/img/circle (1).png" alt="Circle 2" class="statistic-card__circle-img">
                    <span class="statistic-card__percentage">39,75</span>
                </div>
                <h3 class="statistic-card__title">Free Downloads</h3>
                <p class="statistic-card__description">Can you imagine what we will be downloading in another twenty
                    years?</p>
            </div>

            <div class="statistic-card">
                <div class="statistic-card__circle">
                    <img src="../assets/img/circle (2).png" alt="Circle 3" class="statistic-card__circle-img">
                    <span class="statistic-card__percentage">81,15</span>
                </div>
                <h3 class="statistic-card__title">Unique Visitors</h3>
                <p class="statistic-card__description">WordPress, the premier free open-source blogging utility, has
                    gone through several upgrades in its life.</p>
            </div>
        </div>
    </div>
    <!-- End Main 1 -->

    <!-- Start what clinet are saying -->
    <div class="testimonial">
        <h2 class="testimonial__heading">What Clients are saying</h2>
        <div class="testimonial__content">
            <img src="../assets/icon/circle-arrow-left.svg" alt="Previous"
                class="testimonial__arrow testimonial__arrow--left">
            <p class="testimonial__text">
                Businesses at present had creatively generated effective advertising campaigns in the form of audio
                visual media that includes the television and radios and the print media that cover the newspaper and
                campaign materials like the posters, brochures, business cards, flyers and many more.
            </p>
            <img src="../assets/icon/circle-arrow-right.svg" alt="Next"
                class="testimonial__arrow testimonial__arrow--right">
        </div>
        <div class="testimonial__user">
            <img src="../assets/img/person.png" alt="User photo" class="testimonial__user-img">
            <div class="testimonial__user-info">
                <p class="testimonial__user-name">Ophelia Holland</p>
                <p class="testimonial__user-handle">@ophelia_holland</p>
            </div>
        </div>
    </div>

    <!-- End what clinet are saying -->


    <!-- Start Recent Product -->
    <div class="products">
        <h2 class="products__heading">Recent Products</h2>
        <p class="products__description">
            Having used discount toner cartridges for twenty years, there have been a lot of changes in the toner
            cartridge market. The market today is approximately a twenty billion dollar business.
        </p>

        <div class="products__list">
            <div class="product-card">
                <img src="../assets/img/thumb.png" alt="App Maintenance" class="product-card__image">
                <h3 class="product-card__title">App Maintenance</h3>
                <p class="product-card__author">by Lida Morrison, Nettie Burke</p>
                <button class="product-card__button">Review</button>
            </div>

            <div class="product-card">
                <img src="../assets/img/thumb (1).png" alt="FTA Keys" class="product-card__image">
                <h3 class="product-card__title">FTA Keys</h3>
                <p class="product-card__author">by Ivan Alexander, Steven Soto, Clifford Hammond</p>
                <button class="product-card__button product-card__button--active">Review</button>
            </div>

            <div class="product-card">
                <img src="../assets/img/thumb (2).png" alt="Smart Watch" class="product-card__image">
                <h3 class="product-card__title">Smart Watch</h3>
                <p class="product-card__author">by Trevor James, Carl Stevenson</p>
                <button class="product-card__button">Review</button>
            </div>

            <div class="product-card">
                <img src="../assets/img/thumb (3).png" alt="Watch Apps" class="product-card__image">
                <h3 class="product-card__title">Watch Apps</h3>
                <p class="product-card__author">by Glen Snyder, Andrew Goodwin, Lida Morrison</p>
                <button class="product-card__button">Review</button>
            </div>
        </div>
    </div>
    <!-- End Recent Product -->

    <!-- Start Contact -->
    <div class="register--input">
        <section class="register">
            <h1 class="register__title">Start Selling Instantly</h1>
            <p class="register__description">Start Selling With Your Pre-paid account. No deposit needed.</p>

            <form class="register__form">
                <label class="register__label" for="email">Email</label>
                <input class="register__input" type="email" id="email" placeholder="Email">
                <button class="register__button" type="submit">REGISTER</button>
            </form>
        </section>


    </div>
    <!-- End Contact -->

    <!-- Start Comment -->
    <div class="comments">
        <h2 class="comments__title">What People Say</h2>
        <div class="comments__slider">
            <div class="comments__card comments__card--yellow">
                <p class="comments__quote">"It is not because things are difficult that we do not dare; it is because we
                    do not dare that they are difficult."</p>
                <div class="comments__author">
                    <p class="comments__author-name">Seneca the Younger</p>
                    <p class="comments__author-role">Editor in okodesign.net</p>
                    <div class="comments__author-image">
                        <img src="../assets/img/person (1).png" alt="Seneca the Younger">
                    </div>
                </div>
            </div>
            <div class="comments__card comments__card--gray">
                <p class="comments__quote">"Attending a trade show can be a very effective method of promoting your
                    company and its products."</p>
                <div class="comments__author">
                    <p class="comments__author-name">Rachel Moreno</p>
                    <p class="comments__author-role">Lead Designer in okodesign.net</p>
                    <div class="comments__author-image">
                        <img src="../assets/img/person (2).png" alt="Rachel Moreno">
                    </div>
                </div>
            </div>
        </div>
        <div class="comments__pagination">
            <span class="comments__pagination-dot"></span>
            <span class="comments__pagination-dot"></span>
            <span class="comments__pagination-dot"></span>
        </div>
    </div>
    <!-- End Comment -->

    <!-- Start Plans -->

    <div class="plans">
        <h2 class="plans__title">Subscribing Plans</h2>
        <div class="plans__list">
            <div class="plans__card--freemium">
                <img src="../assets/img/card-header.png" alt="Freemium Plan" class="plans__image">
                <h3 class="plans__name">FREEMIUM</h3>
                <p class="plans__price">$0</p>
                <p class="plans__details">Basic Collections<br>10 Messages<br>50 Images per Day</p>
                <button class="plans__button">Get Started</button>
            </div>

            <div class="plans__card--startup">
                <img src="../assets/img/card-header (1).png" alt="Start Up Plan" class="plans__image">
                <h3 class="plans__name">START UP</h3>
                <p class="plans__price">$9</p>
                <p class="plans__details">Multiple Collections<br>100 Messages<br>100 Images per Day</p>
                <button class="plans__button">Get Started</button>
            </div>

            <div class="plans__card--business">
                <img src="../assets/img/card-header (2).png" alt="Business Plan" class="plans__image">
                <h3 class="plans__name">BUSINESS</h3>
                <p class="plans__price">$29</p>
                <p class="plans__details">Unlimited Collections<br>500 Messages<br>300 Images per Day<br>Project Reviews
                </p>
                <button class="plans__button--highlighted">Get Started</button>
            </div>

            <div class="plans__card--enterprise">
                <img src="../assets/img/card-header (3).png" alt="Enterprise Plan" class="plans__image">
                <h3 class="plans__name">ENTERPRISE</h3>
                <p class="plans__price">$49</p>
                <p class="plans__details">Unlimited Collections<br>Unlimited Messages<br>Unlimited Images per
                    Day<br>Project Reviews</p>
                <button class="plans__button">Get Started</button>
            </div>
        </div>
    </div>
    <!-- End Plans -->


    <!-- Start Contact -->

    <div class="contact">
        <h2 class="contact__title">Get in Touch</h2>
        <div class="contact__form-container">
            <form class="contact__form">
                <label class="contact__label">
                    <input type="text" class="contact__input" placeholder="Name*" required>
                </label>
                <label class="contact__label">
                    <input type="email" class="contact__input" placeholder="Email*" required>
                </label>
                <label class="contact__label">
                    <textarea class="contact__input contact__input--textarea" placeholder="Message" required></textarea>
                </label>
                <label class="contact__checkbox">
                    <input type="checkbox" class="contact__checkbox-input">
                    <span class="contact__checkbox-text">Most Urgent Question</span>
                </label>
                <button type="submit" class="contact__button">Submit</button>
            </form>
        </div>
        <div class="contact__info">
            <p class="contact__info-item">
                <span class="contact__icon contact__icon--location"></span>
                2300 W Arbutus Dr Citrus Springs, FL 34434, USA
            </p>
            <p class="contact__info-item">
                <span class="contact__icon contact__icon--email"></span>
                contact@hofmannui.net
            </p>
            <p class="contact__info-item">
                <span class="contact__icon contact__icon--phone"></span>
                952-775-6021
            </p>
        </div>
    </div>


    <!-- End Contact -->



</div>